global
    log /dev/log local0
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 86400s
    timeout server 86400s

frontend sni_in_443
    bind 0.0.0.0:443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    # Reality Decoy Rule (Apple TLS)
    acl is_reality req_ssl_sni -i -m sub apple.com
    use_backend srv_reality if is_reality

    # UNIVERSAL: Any spoofed carrier bug-host & your domain route to Nginx
    default_backend srv_nginx

backend srv_reality
    mode tcp
    server srv_reality 127.0.0.1:10443

backend srv_nginx
    mode tcp
    server srv_nginx 127.0.0.1:20443
